<ion-app>
  <ion-router-outlet></ion-router-outlet>
  
  <!-- 📱 Bottom Navigation Tab Bar -->
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="tasks" href="/tasks">
        <ion-icon aria-hidden="true" name="checkbox-outline"></ion-icon>
        <ion-label>📋 Tasks</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="categories" href="/categories">
        <ion-icon aria-hidden="true" name="pricetag-outline"></ion-icon>
        <ion-label>🏷️ Categories</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
